@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-primary: #000000;
  --text-secondary: #ff8421;
  --text-white: #ffffff;
  --text-dimWhite: #868686;
  --text-facebook: #3b5998;
  --text-twitter: #1da1f2;
  --text-instagram: #e03566;
  --text-pinterest: #cb2027;
}

$xs: 360px;
$ss: 620px;
$sm: 768px;
$md: 1060px;
$lg: 1200px;
$xl: 1700px;

.container-custom {
  padding: 0 15px;
  @media (min-width: $xs) {
    width: 95%;
    margin: 0 auto;
  }
  @media (min-width: $md) {
    width: 95%;
    margin: 0 auto;
  }
  @media (min-width: $lg) {
    width: 95%;
    margin: 0 auto;
  }
}

.container-padding {
  padding: 0 95px;
  @media (min-width: $xs) {
    padding: 0 15px;
  }
  @media (min-width: $sm) {
    padding: 0 15px;
  }
  @media (min-width: $md) {
    padding: 0 95px;
  }
}

.box-shadow {
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.box-shadow-popup {
  box-shadow: 0 0 26px #0000000f;
}

.custom-scroll-bar {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #0000000d;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0000001f;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #0000001f;
  }
}

/* animation  */
@keyframes slide-up {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// @mixin animation($name, $duration, $timing-function, $delay, $iteration-count) {
//   animation-name: $name;
//   animation-duration: $duration;
//   animation-timing-function: $timing-function;
//   animation-delay: $delay;
//   animation-iteration-count: $iteration-count;
// }
