.banner-home {
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 360px) {
    height: 300px;
  }
  @media screen and (min-width: 768px) {
    height: 400px;
  }
  @media screen and (min-width: 960px) {
    height: 100vh;
  }
  .women-banner-swiper {
    .slider-item1,
    .slider-item2,
    .slider-item3 {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      cursor: grab;
      .slider-content {
        overflow: hidden;
        width: 100%;
        height: 100%;
        color: white;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .slider-content-info {
          // position: absolute;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 10px;
          letter-spacing: 6px;
          opacity: 0;
          @media screen and (min-width: 360px) {
            font-size: 14px;
            letter-spacing: 2px;
            margin-bottom: 0px;
          }
          @media screen and (min-width: 768px) {
            font-size: 18px;
            letter-spacing: 2px;
            margin-bottom: 2px;
          }
          @media screen and (min-width: 960px) {
            font-size: 20px;
            letter-spacing: 6px;
            margin-bottom: 10px;
          }
        }
        .slider-content-call {
          text-transform: capitalize;
          font-size: 60px;
          font-weight: 300;
          letter-spacing: 0px;
          line-height: 70px;
          margin-bottom: 10px;
          opacity: 0;
          @media screen and (min-width: 360px) {
            font-size: 35px;
            margin-bottom: 0px;
          }
          @media screen and (min-width: 768px) {
            font-size: 45px;
            margin-bottom: 4px;
          }
          @media screen and (min-width: 960px) {
            font-size: 60px;
            letter-spacing: 0px;
            margin-bottom: 10px;
          }
        }
        .slider-content-nav {
          text-transform: capitalize;
          border-bottom: 1px solid white;
          padding-bottom: 5px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0px;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
    .slider-item1 {
      background-image: url("../../assets/slider.jpg");
      @media screen and (min-width: 360px) {
        height: 300px;
        background-position: -280px center;
        background-size: 180%;
      }
      @media screen and (min-width: 768px) {
        height: 400px;
        background-position: center top;
        background-size: cover;
      }
      @media screen and (min-width: 960px) {
        height: 100vh;
        background-position: center top;
        background-size: cover;
      }
      .slider-content {
        .slider-content-info {
          transform: translateY(150px);
          transition: all 0.5s;
        }
        .slider-content-call {
          transform: translateY(200px);
          transition: all 0.8s;
        }
        .slider-content-nav {
          transform: translateY(250px);
          transition: all 1.5s;
        }
      }
    }
    .slider-item2 {
      background-image: url("../../assets/slider2.jpg");
      @media screen and (min-width: 360px) {
        height: 300px;
        background-position: -20px center;
        background-size: 180%;
      }
      @media screen and (min-width: 768px) {
        height: 400px;
        background-position: center top;
        background-size: cover;
      }
      @media screen and (min-width: 960px) {
        height: 100vh;
        background-position: center top;
        background-size: cover;
      }
      .slider-content {
        .slider-content-info {
          transform: translateX(600px);
          transition: all 0.5s;
        }
        .slider-content-call {
          transform: translateX(700px);
          transition: all 0.8s;
        }
        .slider-content-nav {
          transform: translateX(800px);
          transition: all 1.5s;
        }
      }
    }
    .slider-item3 {
      background-image: url("../../assets/slider3.jpg");
      @media screen and (min-width: 360px) {
        height: 300px;
        background-position: -100px center;
        background-size: 180%;
      }
      @media screen and (min-width: 768px) {
        height: 400px;
        background-position: center top;
        background-size: cover;
      }
      @media screen and (min-width: 960px) {
        height: 100vh;
        background-position: center top;
        background-size: cover;
      }
      .slider-content {
        .slider-content-info {
          transform: translateX(-600px);
          transition: all 0.5s;
        }
        .slider-content-call {
          transform: translateX(700px);
          transition: all 0.8s;
        }
        .slider-content-nav {
          transform: translateX(-800px);
          transition: all 1.5s;
        }
      }
    }
    .slider-item1.swiper-slide-active {
      .slider-content {
        .slider-content-info,
        .slider-content-call,
        .slider-content-nav {
          opacity: 1;
          transition: all 0;
          transform: translateY(0);
        }
      }
    }
    .slider-item2.swiper-slide-active,
    .slider-item3.swiper-slide-active {
      .slider-content {
        .slider-content-info,
        .slider-content-call,
        .slider-content-nav {
          opacity: 1;
          transition: all 0;
          transform: translateX(0);
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: all 0.5s;
      &:hover {
        border: 2px solid #ff9000;
        background-color: #ff9000;
      }
    }
    .swiper-button-prev {
      &::after {
        font-size: 15px;
        color: white;
        &:hover {
          color: #ff9000;
        }
      }
    }
    .swiper-button-next {
      &::after {
        font-size: 15px;
        color: white;
        &:hover {
          color: #ff9000;
        }
      }
    }
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      color: #fff;
    }
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 1px;
      stroke: #fff;
      fill: none;
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }
}
