.men-slider {
  .recommend-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @media screen and (min-width: 360px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 760px) {
      margin-bottom: 50px;
    }
    a {
      color: #ff8421;
    }
    &::before,
    &::after {
      content: "";
      position: relative;
      width: 35%;
      height: 1px;
      background-color: #e6e6e6;
      @media screen and (min-width: 360px) {
        width: 20%;
      }
      @media screen and (min-width: 760px) {
        width: 35%;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .slider-swiper {
    .slider-swiper-item {
      .item-image {
        width: 100%;
        height: 350px;
      }
    }
  }
}
