@import url("../../index.scss");

.topBar {
  position: relative;
  .topBar-left {
    .facebook,
    .instagram,
    .twitter,
    .pinterest,
    .gitHub {
      width: 18px;
      height: 14px;
      fill: white;
      cursor: pointer;
      transition: all 1s;
      position: relative;
    }
    .facebook {
      &:hover {
        fill: var(--text-facebook);
        transform: translateY(-5px);
      }
    }
    .instagram {
      &:hover {
        fill: var(--text-instagram);
        transform: translateY(-5px);
      }
    }
    .twitter {
      &:hover {
        fill: var(--text-twitter);
        transform: translateY(-5px);
      }
    }
    .pinterest {
      &:hover {
        fill: var(--text-pinterest);
        transform: translateY(-5px);
      }
    }
    .gitHub {
      &:hover {
        fill: #39d353;
        transform: translateY(-5px);
      }
    }
  }
  .topBar-center {
    span {
      border-bottom: 1px solid;
      cursor: pointer;
      &:hover {
        color: #868686;
        transition: all 0.5s;
      }
    }
  }
  .topBar-right {
    .wrap-lang,
    .wrap-flag {
      .lang,
      .flag {
        .arrD {
          color: white;
          width: 8px;
        }
        &:hover {
          color: #868686;
          transition: all 0.5s;
        }
      }
    }
    .wrap-lang {
      .popup-lang {
        position: absolute;
        top: 30.5px;
        right: 0;
        background-color: #1d1d1d;
        width: 100px;
        height: 70px;
        padding: 15px;
        cursor: pointer;
        z-index: 50;
        button {
          &:hover {
            color: #ff8421;
          }
        }
      }
    }
    .wrap-flag {
      .popup-flag {
        position: absolute;
        top: 30.5px;
        right: 0;
        background-color: #1d1d1d;
        width: 100px;
        min-height: 70px;
        padding: 15px;
        cursor: pointer;
        z-index: 50;
        button {
          &:hover {
            color: #ff8421;
          }
        }
      }
    }
  }
}
