.header {
  display: flex;
  background-color: red;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 80px;
  .header-item {
    padding: 15px;
    border: 1px solid black;
    a {
      color: white;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}
