.popup-cart {
  position: absolute;
  background-color: #ffffff;
  width: 90vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 40;
  transition: all 0.5s;
  @media screen and (min-width: 360px) {
    transform: translateX(768px);
  }
  @media screen and (min-width: 768px) {
    transform: translateX(960px);
  }
  @media screen and (min-width: 960px) {
    width: 30vw;
    transform: translateX(30vw);
  }
  .cart-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;
    font-size: 24px;
  }
}
.popup-cart.active-open-cart {
  @media screen and (min-width: 360px) {
    transform: translateX(0px);
  }
  @media screen and (min-width: 768px) {
    transform: translateX(0px);
  }
  @media screen and (min-width: 960px) {
    transform: translateX(0px);
    width: 30vw;
  }
}
